<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- import of the css file -->
  <link rel="stylesheet" type="text/css" href="./style.css">
  <title>Home page</title>
</head>
<body>
  <div class="wrapper">
    <header class="header">
        <img class="header__logo" src="./logo.jpg" alt="This is image">
        <div class="header__logo-text">We Got Yummy</div>
        <nav class="header__nav">
          <a href="./index.html">Home</a>
          <a href="./imprint.html">Imprint</a>
          <a href="#">Receipts</a>
          <a href="#">Ingredients</a>
          <a href="#">FAQ</a>
          <a href="./mainten.html">Maintenence</a>
        </nav>
        <img class="header__avatar" src="https://static.vecteezy.com/system/resources/previews/021/079/672/original/user-account-icon-for-your-design-only-free-png.png" alt="Avatar Logo">
    </header>
    <main>
      <div class="success">
        <div class="success__title">Your form submited succsessfully</div>
        <div class="success__subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, quia.</div>
        <button class="success__button">
          Go to Maintenence Page
        </button>
      </div>
    </main>
    <footer class="footer">
      <p><b>© 2023 We Got Yummy Receipts.</b> All right reserved.</p>
    </footer>
  </div>
</body>
</html>